// --------------------------------------------------
// Base
// --------------------------------------------------

html,
body {
    -webkit-font-smoothing: antialiased;/* Support for all WebKit browsers. */
    text-rendering: optimizeLegibility;/* Support for Safari and Chrome. */
    -moz-osx-font-smoothing: grayscale;/* Support for Firefox. */
    height: 100%;
    min-height: 100%;
    width: 100%;
}
#app {
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}
#wrapper {
    display: flex;
    min-height: 100%;
    flex: 1 1 100%;

    &.toggled #sidebar-wrapper {
        margin-left: -16rem;
        transition: margin 0.3s ease-out;
    }

    &.transitioning {
        #page-content-wrapper {
            min-width: 100vw; // when animating close prevent visual shift of content by adding 100vw
            overflow-x: hidden;
        }
    }
}

.app {
	display: flex;
	main {
		flex: 1 1 0;
		padding: 2rem;
		@media (max-width: 1024px) {
			padding-left: 6rem;
		}
	}
}

//
// Default spacing for content after the header
.page-header+.container,
.page-header+.layout-sidesheet .main-content .container,
.page-header+.nav-horizontal+.container {
    padding-top: 1.5rem;
}
