
#page-content-wrapper {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative; // Fix iOS Safari issue with content overlapping side menu on open
    flex-shrink: 1; // Fix IE10 issue with width being incorrect.
    background-color: var(--dark-alt);
    .main-content {
        color: var(--primary-alt);
    }
}