.user-profile {
    .profile {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        min-height: 10rem;
        
        // .profile-pic img {
        //     height: 12rem;
        //     display: block;
        //     margin: 0 auto;
        //     width: fit-content;
        //     align-items: center;
        //     clip-path: circle();
        // }

        .avatar-border {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--light-alt);
            clip-path: circle();
            width: 11rem;
            height: 11rem;
        }

        .avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--dark);
            font-size: 1.15rem;
            color: var(--light);
            font-weight: 500;
            width: 10rem;
            height: 10rem;
            clip-path: circle();
            margin: 0 auto;
        }

        .avatar.avatar-empty {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--dark);
            font-size: 1.15rem;
            color: var(--light);
            font-weight: 500;
            width: 10rem;
            height: 10rem;
            clip-path: circle();
            margin: 0 auto;
        }
        
        .stats {
            flex: 55%;
            background-color: var(--dark);
            color: var(--light);
            border-radius: 15px;
            padding: 0.5rem 1rem;
            & > div {
                display: flex;
            }
        }
    }

    .bio {
        flex-wrap: wrap;
        gap: 10px;
        max-height: 15rem;
        overflow: scroll;
        
        flex: 55%;
        background-color: var(--dark);
        color: var(--light);
        border-radius: 15px;
        padding: 1rem;
    }

    .profile > div {
        flex: max(400px, (100% - 20px)/3);
    }

    .recents {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .recents > div {
        flex: max(400px, (100% - 20px)/3);
        // background-color: var(--dark);
        color: var(--light);
        border-radius: 15px;
        padding: 1rem;
        margin-bottom: 1rem;
    }
}